<!DOCTYPE html>
<html>
  <head>
    <title>User System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  </head>

  <body>
    <div class="blur-effect">
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm text-light border-bottom box-shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" >Users System</a>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <%= link_to "Users", users_path, class:'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="my-container">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
